@import "tailwindcss";

@theme {
    --color-primary:oklch(0.52 0.1288 258.5);
    --color-background:oklch(0.32 0 0);
    --color-secondary:oklch(0.34 0 0);
    --color-header:oklch(0.28 0 0);
    --color-foreground:oklch(0.3 0 0);
    --color-fontTitle:oklch(0.84 0 0);
    --color-fontText:oklch(0.75 0 0);
    --color-details:oklch(0.59 0 0);
    --color-detailsDarker:oklch(0.45 0 0)
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5555;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }